<body>
  <div class="container">
    <input type="checkbox" id="check" />
    <div class="login form">
      <header>Register</header>
      <form [formGroup]="myForm" (submit)="register()">
        <label>Name <span style="color:red;">*</span></label>
        <input type="text" formControlName="name" placeholder="Name" />
        @if (invalidField('name')) {
          <small class="form-text text-danger"> Name is required </small>
        }
        <br>
        <label>Last name <span style="color:red;">*</span></label>
        <input
          type="text"
          formControlName="last_name"
          placeholder="Last name"
        />
        @if (invalidField('last_name')) {
          <small class="form-text text-danger"> Last Name is required </small>
        }
        <br>
        <label>Username <span style="color:red;">*</span></label>
        <input type="text" formControlName="username" placeholder="Username" />
        @if (invalidField('username')) {
          <small class="form-text text-danger"> {{UsernameErrorMsg}} </small>
        }
        <br>
        <label>Email <span style="color:red;">*</span></label>
        <input type="text" formControlName="email" placeholder="Email" />
        @if (invalidField('email')) {
        <small class="form-text text-danger"> {{EmailErroMsg}} </small>
        }
        <br>
        <label>Password <span style="color:red;">*</span></label>
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        @if (invalidField('password')) {
        <small class="form-text text-danger">
          The password must have 8 characters
        </small>
        }
        <br>
        <label>Confirm password <span style="color:red;">*</span></label>
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm your password"
        />
        @if(invalidField('confirmPassword')){
          <small class="form-text text-danger">
            The password must be equals
          </small>
        }
        <br>
        <label>Address <span style="color:red;">*</span></label>
        <input type="text" formControlName="address" placeholder="Address" />
        @if(invalidField('address')){
          <small class="form-text text-danger">
            Address is required
          </small>
        }
        <input type="submit" class="button" value="Register" />
      </form>
    </div>
  </div>
</body>
