<div style="margin: 5%;" class="catalog-title">
  <h1>🎥 Explore Our Collection of Movies 🎥</h1>
  <p>Discover a wide range of movies carefully selected for you.</p>
</div>
<div style="margin-bottom: -3%; margin-left: 1.5%;"  class="select-container">
  <button class="customButton" (click)="setPage(pageNumber, 'mediaId', order)">Order by Antiquity</button>
  <button class="customButton" (click)="setPage(pageNumber, 'gender', order)">Order by Gender</button>
  <button class="customButton" (click)="setPage(pageNumber, 'title', order)">Order by Title</button>

  <div class="button-container">
    @if (order === false) {
    <button
      class="customButton"
      (click)="setPage(pageNumber, sortField, setOrder(true))"
    >
      Asc
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-sort-up"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.5.5 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"
        />
      </svg>
    </button>
    }@else {
    <button
      class="customButton"
      (click)="setPage(pageNumber, sortField, setOrder(false))"
    >
      Desc
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-sort-down-alt"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5"
        />
      </svg>
    </button>
    }
  </div>
</div>
<app-search-box (onSearch)="search($event)"></app-search-box>

@if (page) {
<div class="grid-container">
  @for (movie of movies; track $index) {
    @if (movie.available === true) {
      <div class="grid-item">
        <div class="card mb-3">
          <div class="row g-0" style="height: 100%;">
            <div class="col-md-4">
              <img src="{{movie.image_url}}" class="img-fluid rounded-start card-img" alt="Movie cover">
            </div>
            <div class="col-md-8 d-flex flex-column">
              <div class="card-body d-flex flex-column justify-content-between">
                <div>
                  <div class="card-title">
                    <h5 data-toggle="tooltip" data-placement="top" title="{{movie.title}}">{{ movie.title }}</h5>
                  </div>
                  <p class="card-text">{{ movie.gender }}</p>
                </div>
                <div class="d-flex justify-content-around mt-auto">
                  <a style="font-size: 20px;" routerLink="/movies/infoMovie/{{ movie.media_id }}" class="icon-link" data-toggle="tooltip" data-placement="top" title="Info movie">
                    Info
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
                    </svg>
                  </a>
                  @if (isLogin() === true) {
                    <a style="font-size: 20px;" routerLink="/media/rent/{{movie.media_id}}" class="icon-link" data-toggle="tooltip" data-placement="top" title="Rent this media">
                      Rent
                      <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"></path>
                      </svg>
                    </a>
                  }
                </div>
              </div>
              <p class="text-center mt-auto">Director: <b>{{movie.director}}</b></p>
            </div>
          </div>
        </div>
      </div>
    }
  }
</div>
  

  
  <div class="pagination-container">
    Total Items: <a>{{ totalItems }}</a>
    @if (pageNumber > 1) {
    <a (click)="setPage(1, sortField, order)" href="javascript:void(0)">First</a>
    }@else {
    <span class="disabled">First</span>
    } @if (pageNumber > 1) {
    <a
      (click)="setPage(page.pageable.pageNumber, sortField, order)"
      href="javascript:void(0)"
      >Previous</a
    >
    }@else {
    <span class="disabled">Previous</span>
    } @for (i of getPageNumbers(); track $index) {
    <span>
      <a
        *ngIf="pageNumber !== i"
        (click)="setPage(i, sortField, order)"
        href="javascript:void(0)"
        >{{ i }}</a
      >
      <span *ngIf="pageNumber === i"
        ><a class="current-page">{{ i }}</a></span
      >
      &nbsp;
    </span>
    } @if (pageNumber < page.totalPages) {
    <a (click)="setPage(nextPage(), sortField, order)" href="javascript:void(0)"
      >Next</a
    >
    }@else {
    <span class="disabled">Next</span>
    } @if (pageNumber < page.totalPages) {
    <a
      (click)="setPage(page.totalPages, sortField, order)"
      href="javascript:void(0)"
      >Last</a
    >
    }@else {
    <span class="disabled">Last</span>
    }
  </div>
  
}