<body>
    <div class="container">
      <input type="checkbox" id="check" />
      <div class="login form">
        <header>Add Book</header>
        <form [formGroup]="myForm" (ngSubmit)="addBook()">
          <label>Title <span>*</span></label>
          <input type="text" formControlName="title" placeholder="Title" />
          <br>
          <label>Gender <span>*</span></label>
          <input type="text" formControlName="gender" placeholder="Gender" />
          <label>Director <span>*</span></label>
          <input type="text" formControlName="author" placeholder="Author" />
          <label>Price <span>*</span></label>
          <input type="number" step="0.01" formControlName="price" placeholder="Price" />
          <label>Stock <span>*</span></label>
          <input type="number" formControlName="stock" placeholder="Stock" />
          <label>Image</label>
          <input type="file" id="image" formControlName="imageUrl" (change)="getFile($event)">
          @if (this.id != 0 && this.id != undefined) {
            <input type="submit" class="button" value="Edit"/>
          }@else {
            <input type="submit" class="button" value="Add"/>
          }
        </form>
      </div>
    </div>
</body>