.search-box-container {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: 20px;
  margin-right: 2%;
}

.search-box-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.search-box-button {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.search-box-button:hover {
  background-color: #357ae8;
}

@media only screen and (max-width: 480px) {
  
  .search-box-container {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 8% !important;
    margin-top: 6%;

  }

  .search-box-input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }

}