#nav{
  background-color: rgba(8, 57, 118);
}

#nav2{
  background-color: #1a5ac377;
  height: 60px;
}

#nav2 a{
  font-size: 20px;
  color:  #083976;
}

.title{
  color: white;
  font-weight: 20px;
  margin-right: 3%; 
}

.navbar {
  display: flex;
  align-items: center; 
}

.btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}