<nav
  xmlns:th="http://www.w3.org/1999/xhtml"
  id="nav"
  class="navbar navbar-expand-lg navbar-dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../../../assets/img/ImagenLogo.png"
        class="me-2"
        height="70"
        width="150"
        alt="MDB Logo"
        loading="lazy"
      />
    </a>
    <div class="title">
      <h3>MediaRentalHub</h3>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  @if (isAdmin()) {
    <div class="dropdown one">
      <a
        class="btn btn-link dropdown-toggle"
        type="button"
        id="managementDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Management
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="managementDropdown"
      >
        @if (isAdmin()) {
          <li>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/books/manageBooks">Manage books</a>
          </li>
        }
        @if (isAdmin()) {
          <li>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/movies/manageMovies">Manage movies</a>
          </li>
        }
      </ul>
    </div>
  }
  <div class="container-fluid">
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent"
    >
      @if (isLogin()==true) {
      <div class="dropdown two">
        <a
          class="btn btn-link dropdown-toggle"
          type="button"
          id="userDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ username() }}
        </a>
        <div class="dropdown-menu-container">
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="userDropdown"
          >
            @if (isAdmin()) {
            <li>
              <a class="dropdown-item"  routerLinkActive="active" routerLink="/users/list">Edit profiles</a>
            </li>
            }@if(isLogin()) {
            <li>
              <a class="dropdown-item"  routerLinkActive="active" routerLink="/users/editUser/{{ idUser() }}"
                >Edit my profile</a
              >
            </li>
            }
            <li>
              <a routerLink="/users/rentals"  routerLinkActive="active" class="dropdown-item">My rentals</a>
            </li>
          </ul>
        </div>
      </div>
      
      } @if (isLogin() == false) {
      <button
        class="btn btn-outline me-2"
        routerLink="/auth/login"
        style="border: none; padding-left: 15px"
      >
        Login
      </button>
      }@else {
      <button
        class="btn btn-outline me-2"
        (click)="logout()"
        style="border: none"
      >
        Logout
      </button>
      }
    </div>
  </div>
</nav>



<nav id="nav2" class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
      <a routerLink="/home" routerLinkActive="active" style="padding: 10px">Home</a>
      <a
        routerLinkActive="active"
        routerLink="/books/catalogue"
        style="padding: 10px"
        data-toggle="tooltip" 
        data-placement="top" 
        title="Catalogue of Book"
      >
        Books
      </a>
      <a
        routerLinkActive="active"
        routerLink="/movies/catalogue"
        style="padding: 10px"
        data-toggle="tooltip" 
        data-placement="top" 
        title="Catalogue of Movies"
      >
        Movies
      </a>
    </div>
</nav>