body{
    background-color: rgb(245, 245, 220,100%);
}

*{
   font-size: 17px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f8f9fa;
}

::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #495057;
}


img {
    object-fit: cover;
}