.slider-frame {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;
  overflow: hidden;
  height: 700px; 
  width: 1000px;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 500%; /* Cambiado a 500% para tener suficiente espacio para las imágenes */
  animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 20%; 
  list-style: none;
}

.slider-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes slide {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

.container {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.row {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

h2 {
  margin: 30px;
}

.catalog-title {
  text-align: center;
  margin-bottom: 40px;
}

.catalog-title h1 {
  font-size: 36px;
  font-weight: bold;
  color: #4a90e2;
  margin-bottom: 10px;
}

.catalog-title p {
  font-size: 25px;
  color: #666;
}

.appear h1 {
  font-weight: bold;
  font-size: 75px;
  margin-top: 2%;
  font-weight: bold;
  color: #4a90e2;
}

.appear {
  animation: fadeInAnimation 2s ease-out forwards;
  opacity: 0;
  margin-bottom: 10px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .slider-frame {
    height: 300px;
    margin-left: 0;
    margin-top: 2%; 
  }
  h1{
    font-size: 30px !important;
  }
}

@media only screen and (max-width: 480px) {
  h1{
    font-size: 30px !important;
  }
  
  .slider-frame {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-left: 0%; 
    margin-top: 2%;
    overflow: hidden;
}

.centered {
    margin: 0 auto;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 20%;
    list-style: none;
}

.slider-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
}
