<div class="appear" align="center">
  <h1>MediaRentalHub<br>
    Where entertainment finds its home</h1>
</div>

<div class="slider-frame" style="height: 700px; width: 1000px;">
  <ul>
    <li><img src="../../assets/img/metalocus_cien_anos_soledad_rivera_03.jpg" /></li>
    <li><img src="../../assets/img/ForrestGump.jpg" /></li>
    <li><img src="../../assets/img/PULGARCITO-21_WEB-CAROLINA-ENTRADIUM.png" /></li>
    <li><img src="../../assets/img/Rings.jpeg" /></li>
    <li><img src="../../assets/img/HarryPotter.jpg" /></li>
  </ul>
</div>


<h2 align="center">Books</h2>

<div class="container text-center my-5">
  <div class="row">
    @for (book of books != null ? books.slice(0, 8) : []; track $index) {
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ book.imageUrl }}"
        alt="Card image cap"
        style="height: 200px; object-fit: cover"
      />
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.gender }}</p>
      </div>
    </div>
    }
  </div>
</div>

<h2 align="center">Movies</h2>

<div class="container text-center my-5">
  <div class="row">
    @for (movie of movies != null ? movies.slice(0, 8) : []; track $index) {
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ movie.imageUrl }}"
        alt="Card image cap"
        style="height: 200px; object-fit: cover"
      />
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">{{ movie.gender }}</p>
      </div>
    </div>
    }
  </div>
</div>

<h2 align="center">Some Genders</h2>

<div class="container text-center my-5">
  <div class="row">
    <h1>Drama/War/Action</h1>
    @for (movie of movies != null ? movies.slice(0, 8) : []; track $index) { 
      @if(movie.gender.includes("Drama") || movie.gender.includes("War") ||
    movie.gender.includes("Action")) {
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ movie.imageUrl }}"
        alt="Card image cap"
        style="height: 200px; object-fit: cover"
      />
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">{{ movie.director }}</p>
      </div>
    </div>
    } } @for (book of books != null ? books.slice(0, 8) : []; track $index) {
    @if (book.gender.includes("Drama") || book.gender.includes("War") ||
    book.gender.includes("Action")) {
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ book.imageUrl }}"
        alt="Card image cap"
        style="height: 200px; object-fit: cover"
      />
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.author }}</p>
      </div>
    </div>
    } }
    <h1>Comedy/Romantic</h1>
    @for (movie of movies != null ? movies.slice(0, 8) : []; track $index) {
    @if(movie.gender.includes("Romance") || movie.gender.includes("Comedy")) {
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ movie.imageUrl }}"
        alt="Card image cap"
        style="height: 200px; object-fit: cover"
      />
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">{{ movie.director }}</p>
      </div>
    </div>
    } } @for (book of books != null ? books.slice(0, 8) : []; track $index) {
    @if (book.gender.includes("Romance") || book.gender.includes("Comedt¡y")) {
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ book.imageUrl }}"
        alt="Card image cap"
        style="height: 200px; object-fit: cover"
      />
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.author }}</p>
      </div>
    </div>
    } }
    <h1>Horror/Mistery/Thriller</h1>
    @for (movie of movies != null ? movies.slice(0, 8) : []; track $index) {
    @if(movie.gender.includes("Horror") || movie.gender.includes("Thriller") ||
    movie.gender.includes("Mistery")) {
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ movie.imageUrl }}"
        alt="Card image cap"
        style="height: 200px; object-fit: cover"
      />
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">{{ movie.director }}</p>
      </div>
    </div>
    } } @for (book of books != null ? books.slice(0, 8) : []; track $index) {
    @if (book.gender.includes("Horror") || book.gender.includes("Thriller") ||
    book.gender.includes("Mistery")) {
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ book.imageUrl }}"
        alt="Card image cap"
        style="height: 200px; object-fit: cover"
      />
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.author }}</p>
      </div>
    </div>
    } }
  </div>
</div>
