.slider-frame {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-left: 17%; 
    margin-top: 2%;
    overflow: hidden;
}

.centered {
    margin: 0 auto;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 20%;
    list-style: none;
}

.slider-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.container {
    background-color: #f8f9fa; 
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom:  60px;
}

.row{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

h2{
    margin: 30px;
}

.appear h1 {
    font-weight: bold;
    font-size: 75px;
}

.appear {
    animation: fadeInAnimation 2s ease-out forwards;
    opacity: 0;
    margin-top: 2%;
    font-weight: bold;
    color: #4a90e2;
    margin-bottom: 10px;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

